@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Josefin toda la app */
body {
  color: #0a0a0a;
  background: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
}

.Toastify__toast,
.Toastify__toast-body,
.Toastify__close-button {
  font-family: 'Josefin Sans', sans-serif;
}

input, textarea, button, select {
  font-family: inherit;
}
